@using System.Reflection
@using Microsoft.AspNetCore.Mvc

@functions {
    public string Message { get; set; }

    public async Task OnGetAsync()
    {
        Message2 = "This was a GET";

        Message = await BindAsync<string>("message") ?? "Hello, World!";
    }

    public async Task<IActionResult> OnPost()
    {
        Message = "This was a POST";

        Message2 = await BindAsync<string>("message") ?? "Hello, World!";

        if (Message2 == "redirect")
        {
            return Redirect("http://google.com");
        }

        return View();
    }
}
<html>
    <head>
    </head>
    <body>
        <h1>Message from cshtml: @Message</h1>
        <h1>Message from codebehind: @Message2</h1>
        <h1>My class: @GetType().GetTypeInfo().FullName</h1>
        <h1>Base class: @GetType().GetTypeInfo().BaseType.FullName</h1>
        <form method="POST">
            <input type="text" name="message" />
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>